@font-face {
    font-family: avatar;
    src: url('../assets/Avatar.ttf.woff');
  }

@font-face {
    font-family: avatar2;
    src: url('../assets/avatar2.ttf');
  }

html {   
  background-image: url('../assets/avatar-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

body{
    font-family: avatar;
}

/*header*/
header {
    font-size: 6vw;
    color: rgba(244, 248, 249, 0.824);
    font-family: avatar2;
    text-align: center;
    text-shadow: 4px 4px 10px rgb(22, 188, 199);
}

header h2 {
    margin-top: -10vw;

}
/*header end*/

/*list*/
.airbenders {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;  
}

.airbenders img {
    width: 40vw;
    height: 40vh;
    border: 1vw solid rgba(244, 248, 249, 0.057);
    box-shadow: 5px 5px 5px rgb(22, 188, 199);;
    background-color: lightgray;
    margin: 1vw;
}

.airbenders h3 {
    margin-top: -6vw;
    text-shadow: 4px 4px 10px rgb(22, 188, 199);
    color: rgba(244, 248, 249, 0.824);
    font-size: 5vw;
    max-width: 40vw;
}

.airbenders li:hover {
    transition: 1s;
    transform: scale(1.5) rotate(360deg);
    
}


.loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    background: rgba(0, 0, 0, 0.2);
}

